nfe_libs/OpenNFe/nfe200/nfe200/src/RDI.NFe2.Business/Web References/PWS.GO.Cancelamento/NfeCancelamento2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeCancelamento2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeCancelamentoNF2Result">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeCancelamentoService_nfeCancelamentoNF2">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeCancelamentoService_nfeCancelamentoNF2Response">
    <part name="nfeCancelamentoNF2Result" element="tns:nfeCancelamentoNF2Result" />
  </message>
  <portType name="NfeCancelamentoService">
    <operation name="nfeCancelamentoNF2" parameterOrder="nfeCabecMsg nfeDadosMsg">
      <input message="tns:NfeCancelamentoService_nfeCancelamentoNF2" />
      <output message="tns:NfeCancelamentoService_nfeCancelamentoNF2Response" />
    </operation>
  </portType>
  <binding name="NfeCancelamentoServiceBinding" type="tns:NfeCancelamentoService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeCancelamentoNF2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeCancelamento2/nfeCancelamentoNF2" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeCancelamentoService_nfeCancelamentoNF2" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeCancelamentoNF2Result" />
      </output>
    </operation>
  </binding>
  <service name="NfeCancelamento2">
    <port name="NfeCancelamentoServicePort" binding="tns:NfeCancelamentoServiceBinding">
      <soap12:address location="https://nfe.sefaz.go.gov.br/nfe/services/v2/NfeCancelamento2" />
    </port>
  </service>
</definitions>